<% provide(:title, "直播聚合") %>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top: -12px">
      <div class="row">
        <% $dota2_live_list_sort.sort{ |x, y| y <=> x }.each do |key, value| %>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <div class="panel panel-default" style="border:1px solid #493B9A">
            <div class="panel-body" style="padding:0px">
              <div class="thumbnail" style="padding:0px; margin-bottom:0px; border:0px">
                <a href="<%= $dota2_live_list[value][:href] %>" target="_blank">
                <img class="lazy" src="<%= image_path 'dota2.jpg' %>" data-original="<%= $dota2_live_list[value][:img] %>" style="width:100%; border-top-left-radius:3px; border-top-right-radius:3px">
                  <span class="label" style="position:absolute; right:8px; top:4px; background-color:<%= $color[$dota2_live_list[value][:site]] %>">
                    <h5 style="margin:2px"><%= $dota2_live_list[value][:nnt] %></h5>
                  </span>
              </div>
            </div>
            <div class="panel-footer" style="padding:8px; border-color:<%= $color[$dota2_live_list[value][:site]] %>">
              <h5 class="hidden-xs hidden-sm" style="margin:0px"><%= $dota2_live_list[value][:title][0, 15] %>
                <small class="pull-right" style="color:<%= $color[$dota2_live_list[value][:site]] %>"><span class="glyphicon glyphicon-user"></span> <%= $dota2_live_list[value][:view] %></small>
              </h5>
              <h5 class="hidden-xs hidden-md hidden-lg" style="margin:0px"><%= $dota2_live_list[value][:title][0, 11] %>
                <small class="pull-right" style="color:<%= $color[$dota2_live_list[value][:site]] %>"><span class="glyphicon glyphicon-user"></span> <%= $dota2_live_list[value][:view] %></small>
              </h5>
              <h5 class="hidden-sm hidden-md hidden-lg" style="margin:0px"><%= $dota2_live_list[value][:title][0, 7] %>
                <small class="pull-right" style="color:<%= $color[$dota2_live_list[value][:site]] %>"><span class="glyphicon glyphicon-user"></span> <%= $dota2_live_list[value][:view] %></small>
              </h5>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $('.thumbnail img').height($('.thumbnail img').width()/1.8);
  $("img.lazy").lazyload();
  window.onresize = function(){
    $('.thumbnail img').height($('.thumbnail img').width()/1.8);
  };
</script>
