<%= form_for(@program) do |f| %>
<% if @program.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

  <ul>
    <% @program.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<br>
<div class="field">
  <h4>时间</h4>
  <div class='input-group date' id='datetimepicker'>
    <%= f.text_field :datatime, class: "form-control" %>
    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
  </span>
</div>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker').datetimepicker({
      locale: 'zh-cn'
    });
  });
</script>
</div>
<br>
<div class="field">
  <h4>节目</h4>
  <%= f.text_field :content, class: "form-control" %>
</div>
<br>
<div class="actions">
  <%= f.submit "提交", class: "btn btn-primary" %>
</div>
<br>
<% end %>
