<% provide(:title, @program.content) %>
<div class="container bodyer">
  <div class="row">
    <div class="col-md-12">
<!--       <% unless notice.nil? %>
      <div class="alert alert-success alert-dismissible alert-notice" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
      <% end -%> -->

      <blockquote class="title"><h3><%= @program.datatime %></h3> <footer><%= @program.created_at.getlocal.to_s[0..-10] %></footer></blockquote>
      <pre class="content"><%= @program.content %></pre><br>

      <% if admin_logged? %>
      <%= link_to '编辑', edit_program_path(@program), class: "btn btn-default" %>
      <%= link_to '删除', @program, method: :delete, data: { confirm: '确定删除?' }, class: "btn btn-default" %>
      <% end -%>
      <%= link_to '返回', programs_path, class: "btn btn-default" %>
    </div>
  </div>
</div>