<%= form_for(@karaoke, html: { multipart: true }) do |f| %>
  <% if @karaoke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@karaoke.errors.count, "error") %> prohibited this karaoke from being saved:</h2>

      <ul>
      <% @karaoke.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h4>选手</h4>
    <%= f.text_field :actor, class: "form-control", placeholder: "选手姓名" %>
  </div>
  <div class="form-group">
    <h4>简介</h4>
    <%= f.text_area :introduction, class: "form-control", placeholder: "选手简介", rows: 3 %>
  </div>
  <div class="form-group">
    <h4>上传头像</h4>
    <%= f.file_field :picture, type: "file", class: "filestyle" %>
  </div>
  <div class="form-group">
    <h4>视频 1</h4>
    <%= f.text_field :video1, class: "form-control", placeholder: "视频 1 地址" %>
  </div>
  <div class="form-group">
    <h4>视频 2</h4>
    <%= f.text_field :video2, class: "form-control", placeholder: "视频 2 地址" %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :vote %> 允许投票?
    </label>
  </div>
  <%= f.submit "提交", class: "btn btn-primary" %>
<% end %>
<br>
<script>
  $(":file").filestyle({input: false, buttonText: "选择图片", iconName: "glyphicon-picture", buttonName: "btn-default"});
</script>
