<%= form_for(@news) do |f| %>
<% if @news.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

  <ul>
    <% @news.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <h4>标题</h4>
  <%= f.text_field :title, class: "form-control", placeholder: "标题" %>
</div>
<div class="form-group">
  <h4>内容</h4>
  <%= f.text_area :content, class: "form-control", placeholder: "内容", rows: 8 %>
</div>
<div class="checkbox">
  <label>
    <%= f.check_box :notify %> 公告?
  </label>
</div>
<%= f.submit "提交", class: "btn btn-primary" %>
<% end %>
<br>
